src/main/app/karma-provisionning.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <spring:beans>
        <spring:bean id="karmaSetConfigurationObject" class="com.francetelecom.wsa.util.Utilities"/>
    </spring:beans>
   
    
    <http:listener-config xmlns:http="http://www.mulesoft.org/schema/mule/http" name="karma-provisionning-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" name="karma-provisionning-config" raml="karma-provisionning.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="karma-provisionning-main">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="karma-provisionning-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="karma-provisionning-config" doc:name="APIkit Router"/>
        <exception-strategy ref="karma-provisionning-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="karma-provisionning-console">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="karma-provisionning-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="karma-provisionning-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="post:/karma/setConfiguration:application/json:karma-provisionning-config">
        <logger message="Beginning input Logger ==&gt; #[payload]" level="INFO" doc:name="Logger"/>
        <json:json-to-object-transformer returnClass="com.francetelecom.wsa.util.Request" doc:name="JSON to Object"/>
        <flow-ref name="karma-apis-karma-SetConfiguration-Flow" doc:name="karma-apis-karma-SetConfiguration-Flow"/>
        <logger message="Ended Output Logger ==&gt; #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <apikit:mapping-exception-strategy xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" name="karma-provisionning-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
